<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">
    <title>Madlib Creator</title>
</head>
<body>
    <h1>Welcome to the Madlib Creator!</h1>
    <img src="{{ url_for('static', filename='madlib.png') }}">
    <p>Here, you can build a Madlib based upon a variety of categories and subjects, including RMP Reviews, speeches, and Aesop's Fables.</p>
    <p>Be creative, and have fun making Madlibs!</p>
    <p>Made by Nikolas Makranyi, Navodit Maheshwari, Bill Mularski, Nathan Wu for CSE143.</p>
</body>
</html>
